$def with(datos)

<h1>Acerca de</h1>

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Protecto Final</h5>
      <p class="card-text">Interfaces gráficas y usabilidad</p>
                Nombre $datos[0] <br>
                A. Paterno: $datos[1]<br>
                A. Materno: $datos[2]<br>
                Maestría $datos[3]<br>
                Materia $datos[4]<br>
                Email $datos[5]<br>
      <a class="btn btn-secondary">Acerca de</a>
    </div>
    <div class="card-footer text-muted">
      Dic 2018
    </div>
  </div>
  <center><img src="../../static/images/software.png" alt="Fondo1" witdh="300w" height="300w" class="lazyload"></center>